* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #3C6E63, #7EC8A3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
  height: 550px;
  display: flex;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/* LEFT PANEL */
.left-panel {
  flex: 1;
  background: linear-gradient(135deg, #2F5F56, #6BBF9E);
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.left-panel p {
  font-size: 16px;
  opacity: 0.9;
}

/* RIGHT PANEL */
.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #2E7D32;
  box-shadow: 0 0 0 3px rgba(46,125,50,0.15);
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.options a {
  text-decoration: none;
  color: #2E7D32;
}

button {
  width: 100%;
  padding: 12px;
  background: #2F5F56;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #244943;
  transform: translateY(-2px);
}
.register {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.register a {
  color: #2E7D32;
  text-decoration: none;
}
